<%= form_tag "/beers", method: :post do %>
  <div class="form-group">
    <label>Brand:</label>
    <input type="text" name="brand" >
  </div>

  <div class="form-group">
    <label>Style of beer:</label>
    
    <input type="text" name="style" >
  </div>

  <div class="form-group">
    Name of the beer:
    <input type="text" name="name">
  </div>

  <div class="form-group">
    Package size(Single, 6 pack, 12 pack):
    <input type="text" name="package_size">
  </div>

  <div class="form-group">
    Bottle Size:
    <input type="text" name="bottle_size">
  </div>

  <div class="form-group">
    Rating(1 to 99)
    <input type="text" name="rating_1to99">
  </div>

  <div class="form-group">
    Description
    <input type="text" name="description">
  </div>

  <div class="form-group">
    Price
    <input type="text" name="price">
  </div>

  <div class="form-group">
    Image(link)
    <input type="text" name="image">
  </div >
  
  <div class="form-group">
    Supplier
    <input type="text" name="supplier_id">
  </div>

  <div class="form-group">
    <input type="submit" value="Enter the beer!">
  </div>

<% end %>
